{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %}
Search
{% endblock title %}


{% block content %}
<h1>Новости</h1>


{{ filterset.form.non_field_errors }}

{{ filterset.form.name__icontains.errors }}
{% csrf_token %}

<label for="site-search">Поиск:</label>
<input type="search" id="site-search" name="q"> 
<button>Найти</button>

    <br>

    <label for="party">Выбрать дату:</label>
    <input
    id="party"
    type="datetime-local"
    name="partydate"
    value="2017-06-01T08:30" />




{% if post_search %}

    {% for post in post_search %}

    <div class="card">
        <h5>{{ post.title }}</h5>
    
            {% for category in post.postCategory.all %}
            <span class="badge bg-success">{{ category }}</span>
            {% endfor %}
    
            <span class="badge text-bg-dark">Author: {{ post.author|censor }}</span>
            <span class="badge text-bg-dark">Date: {{ post.dateCreation}}</span>
    
    
            <div class="card-body">
                {{ post.preview }}
                
        </div>
    </div>

    {% endfor %}

{% endif %}

{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}

   {% endif %}
{% endblock content %}
