{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %}
News
{% endblock title %}


{% block content %}
    <h1>Все новости</h1>
    <h5>{{ time_now|date:'M d Y' }}</h5>

        <!-- Форма поиска новостей и статей -->
        <form>
            <label for="nameId">Поиск:</label>
            <input id="nameId" type="text" name="name">
            <input type="submit" value="Найти">
        </form>

        <!-- Поиск по дате -->
        <label for="meeting-time">Поиск по дате:</label>

        <input type="datetime-local" id="meeting-time"
        name="meeting-time" value="2018-06-12T19:30"
        min="2018-06-07T00:00" max="2018-06-14T00:00">




    {% if posts %}
    
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Категорие новостей</td>
                <td>Новости</td>
                <td>Дата</td>
            </tr>

            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.postCategory.name }}</td>
                <td>{{ post.text|truncatechars:20 }}</td>
                <td>{{ post.author|censor }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h3>Новостей нет!</h3>

    {% endif %}

    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
